<h3>List of Assets:</h3>
<table class="">
    <thead>
        <th>Digital Asset Name</th>
        <th>Physical File Name</th>
        <th>Uploader</th>
        <th>Physical File Size</th>
        <th>Physical File Type</th>
    </thead>
    <tbody>
        {{#each asset}}
        <tr>
            <td>{{name}}</td>
            <td>{{physical_file_name}}</td>
            <td>{{uploader}}</td>
            <td>{{physical_file_size}}</td>
            <td>{{physical_file_type}}</td>
            <td><a href="/asset/{{id}}" class="material-icons teal-text text-lighten-2">update</a></td>
            <td><button onclick="deleteAsset({{id}})" class="material-icons red-text btn-flat">clear</button></td>
        </tr>
        {{/each}}
    </tbody>
</table>